.header {
  background-color: rgb(16, 18, 29);
  color: white;
  height: 60px;
  border-bottom: 2px solid rgb(255, 255, 240);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.right-section a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}